<nav *ngIf="!isLoggedIn" class="navbar flex items-center justify-between bg-dark bg-gray-800 p-2">
  <h1 class="text-white text-2xl font-semibold">
    <a href="index.html"><i class="fas fa-code"></i> {{ title }} </a>
  </h1>
  <ul class="flex space-x-6 ">
    <li><a href="#home" class="text-white hover:text-gray-400">Home</a></li>
    <li><a href="#services" class="text-white hover:text-gray-400">Services</a></li>
    <li><a href="#about" class="text-white hover:text-gray-400">About Us</a></li>
    <li><a href="#faq" class="text-white hover:text-gray-400">FAQ</a></li>
  </ul>
  <div *ngIf="!isLoggedIn" class="auth-buttons  flex  space-x-4">
    <a href="/auth/student" class="button bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600">Student Login</a>
    <a href="/auth/login" class="button bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-600">Admin Login</a>
  </div>
  <div *ngIf="isLoggedIn" class="auth-buttons mt-4">
    <a (click)="logout()" class="button bg-red-500 text-white py-2 px-4 rounded-lg hover:bg-red-600">Logout</a>
  </div>
</nav>
