<div class="form-container">
    <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
      <div>
        <label for="newPassword">New Password:</label>
        <input id="newPassword" type="password" formControlName="newPassword" />
      </div>
  
      <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input id="confirmPassword" type="password" formControlName="confirmPassword" />
      </div>
  
      <button type="submit" [disabled]="passwordForm.invalid">Change Password</button>
    </form>
  </div>
  